:root {
  --primary-color: #ff9854;
  --line-color:#f2f8f9;

  /* 全局修改: 任何地方只要用到-van-tabbar-item-icon-size都会被修改掉 */
  /* --van-tabbar-item-icon-size: 30px !important; */

  /* 全局修改search搜索框图标的颜色 */
  --van-search-left-icon-color: var(--primary-color) !important;

  --van-tabs-bottom-bar-color: var(--primary-color) !important;
}

body {
  font-size: 14px;
}

.hiddenTabBar {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  background-color: #fff;
  z-index: 9;
}

.bottom-gray-line {
  border-bottom: 1px solid #f2f2f2;
}
